/* src/Countdown.css */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #090009, #080007);
  }
  .countdown-container {
    position: relative;
    background: linear-gradient(90deg, #d19898, #ffffff, #f0f0f0);
    background-size: 300% 100%;
    animation: shine 2s infinite;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
  }
  
  @keyframes shine {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  
  .floating-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: #333;
    
  }
  
  .timer-container {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  
  .button-container button {
    animation: moveLeftToRight 2s infinite;
  }
  
  .container {
    text-align: center;
    
    background-color: #0e010d;
    border-radius: 60% / 70% 60%;
    box-shadow: 0 2px 4px rgba(649, 249, 6, 0.1);
    padding: 80px;
  }
  
  
  .floating-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    color: #eae3e3;
  
  }
  input {
    padding: 8px;
    font-size: 16px;
  }
  
  p {
    font-size: 24px;
    margin: 20px 0;
  }
  
  button {
    background-color: #3d73ad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  /* src/Countdown.css */
  /* ... (existing styles) */
  
  
  
  
  @media only screen and (max-width: 600px) {
    .container {
      padding: 20px;
    }
  }